<!DOCTYPE html>
<html>
<head>
  <title>Article.eth</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/base.css">
  <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
  <body>
    <div id="main">
      <el-form label-position="right" label-width="80px" :model="testForm">
        <el-form-item>
          <el-input placeholder="Type in the relative url you want to test..." v-model="testForm.urlRelative">
            <template slot="prepend">{{ testForm.urlRoot }}</template>
          </el-input>
        </el-form-item>
        <el-form-item label="Username">
          <el-input v-model="testForm.username"></el-input>
        </el-form-item>
        <el-form-item label="Password">
          <el-input v-model="testForm.password"></el-input>
        </el-form-item>
        <el-form-item label="OldPassword">
          <el-input v-model="testForm.oldPassword"></el-input>
        </el-form-item>
        <el-form-item label="Data">
          <el-input v-model="testForm.data"></el-input>
        </el-form-item>
        <el-form-item
          label="Returned">
          <el-input
            type="textarea"
            autosize
            placeholder="Returned data shown here"
            disabled
            v-model="testForm.returnedData">
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="get">GET</el-button>
          <el-button type="primary" @click="post">POST</el-button>
        </el-form-item>
      </el-form>
    </div>
  </body>

  <script src="index.js"></script>
</html>